/*ini adalah style register*/
.container{
    width: 50%;
    margin-top: 2%;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.8);
    padding: 40px;
}
button{
    width: 45%;
    margin-right: 10px;
    margin-left: 10px;
}
.container-fluid{
    margin-top: 5%;
    padding: 0.5px;
}